<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.mapper.PersonMapper">
    <!-- 一对一 根据id查询个人信息：级联查询的第一种方法（嵌套查询，执行两个SQL语句） -->
    <resultMap id="personAndCard" type="cn.edu.zjut.po.Person">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <!-- 一对一级联查询 -->
        <association property="idCard" column="id_card_id" javaType="cn.edu.zjut.po.IdCard" select="cn.edu.zjut.mapper.IdCardMapper.findById"/>
        <!-- 一对多级联查询，支持延迟加载 -->
        <collection property="indents" column="id" javaType="java.util.List" select="cn.edu.zjut.mapper.IndentMapper.findAllByPersonId"/>
    </resultMap>
    <select id="findById" parameterType="integer" resultMap="personAndCard">
        select * from person where id = #{id}
    </select>
    <!-- 一对一 根据id查询个人信息：级联查询的第二种方法（嵌套结果，执行一个SQL语句） -->
    <resultMap id="personAndCard2" type="cn.edu.zjut.po.Person">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <!-- 一对一级级联查询 -->
        <association property="idCard" javaType="cn.edu.zjut.po.IdCard">
            <id property="id" column="id_card_id"/>
            <result property="code" column="code"/>
        </association>
    </resultMap>
    <select id="findById2" parameterType="integer" resultMap="personAndCard2">
        select p.*,ic.code
        from person p, id_card ic
        where p.id_card_id = ic.id and p.id = #{id}
    </select>
    <select id="findById3" parameterType="integer" resultType="cn.edu.zjut.po.SelectPersonById">
        select p.*,ic.code
        from person p, id_card ic
        where p.id_card_id = ic.id and p.id = #{id}
    </select>
</mapper>